.wrapper{
    max-width:700px;
    margin:0 auto;
    position:relative;
}
img{
    max-width:100%;
}
.wrapper figcaption{
    background-color: black;
    border:2px solid white;
    font-size:24px;
    color:white;
    display:inline-block;
    padding:15px 20px;
    position:absolute;
    top: 20px;
    left: 40px;

}
    